[Unit]
Description=MicroFW
After=network.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/microfw apply_bootup
RemainAfterExit=true
ExecStop=/usr/local/sbin/microfw tear_down
StandardOutput=journal

[Install]
WantedBy=multi-user.target
