[Unit]
Description=MicroFW
After=network.target docker.service

[Service]
Type=oneshot
ExecStartPre=/usr/local/sbin/microfw tear_down
ExecStart=/var/lib/microfw/setup.sh
RemainAfterExit=true
ExecStop=/usr/local/sbin/microfw tear_down
StandardOutput=journal

[Install]
WantedBy=multi-user.target
