# Src-Zone      Dest-Zone        Src-Address          Dst-Address            Service        Action

ext             FW               ALL                  ALL                    ssh            accept
ext             ALL              ALL                  ALL                    ALL            reject

int             FW               ALL                  ALL                    ALL            reject
int             int              ALL                  ALL                    ALL            accept
int             ext              lan_home             google                 http           accept
int             ext              lan_home             google                 https          accept
int             ext              ALL                  ALL                    ALL            reject
